.outer-Wrapper {
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: visible;
  background: #1d1b31;
  color: azure;
  padding: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 1366px) {
  .outer-Wrapper {
    width: 98%; /* Adjust width to fit the screen */
    margin: 0 auto; /* Center the container */
  }
}

.Menuicon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: rgb(255, 255, 255);
  
}

.wrapper {
  grid-column: 2;
  grid-row: 1;
  flex: 1; /* NB: remember To Occupy remaining space */
  width: calc(60%);
  background-color: rgba(255, 255, 255, 0);
  color: azure;
  border-radius: 10px;
  padding: 20px 30px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -100px;
  word-wrap: break-word;
  white-space: pre-line;
  max-width: calc(100%-300px);
  position: fixed;
  margin-top: 80px;
}

.wrapper .row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.wrapper h1 {
  font-size: 20px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 10px;
}

.input-box input {
  width: 3cm;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 10px;
  color: azure;
  padding: 20px 30px 15px 15px;
  position: flex;
}

.input-box input::placeholder {
  color: azure;
  text-align: center;
}

.wrapper button {
  width: 300px;
  min-height: 45px;
  background: azure;
  margin: 30px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, -1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

/*Starts the Side Bar Css Man dont forget*/


/*This Marks the End of the Side Bar Css and the start of mini side bar */

